@import './cancel';

.container{
   width: 80%;
   margin: 0 auto;
}

header{   
   background: rgba(25,14,78,1);
   nav{
      ul{
         display: flex;
         justify-content: space-around;
         li{
            padding: 10px;
            a{
               color: white;
               padding: 5px;
               border-bottom: 2px solid transparent;
               transition:all 0.4s;
               &.active,&:hover{
                  border-bottom: 2px solid red;
               }
            }

         }
      }
   }
}


main{
   height: 85vh;
   overflow-y: scroll;
   &.show{
      animation: show 1s linear
   }
   .content{
      &-main{
         column-count: 3;
      }
      &-about{
         column-count: 6
      }
      &-contact{
         column-count: 2;
      }
   }
}

@keyframes show{
   from{
      opacity: 0; 
   }
}



.grid{
   display: grid;
   min-height: 100vh;
   grid-template-columns:repeat(5,1fr);
   overflow: hidden;
   .item{
          display: grid;
         /* border: 1px solid; */
         background-position: 0% 0%;
         background-repeat: no-repeat;
         background-size: cover;
         position: relative;
         transition: 1s;
         &.item1{
            grid-row: 1/3;
          }
          
          
          
          &.item3{
            grid-column: 3/5;
          }
          
          &.item7{
            grid-column: 4/6;
          }

          &.show::before{
            opacity: 0;
            
          }
          &.show{
            background-position:center!important;
            box-shadow: isset 5xp 5px 5px white;
            transform:scale(1.1);
          }
          
          &::before{
            position: absolute;
            content:'';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.5;
            transition: 0.4s;
          }
          
          &:hover::before{
            opacity: 0;
          }
          &:hover{
            background-position:50%;
          }
          


   }
}



 
 
 @media screen and (max-width: 768px) {
   .grid{
      grid-template-columns:repeat(4,1fr);
   }
 }
 
 @media only screen and (max-width: 480px) {
   .grid{
      grid-template-columns:repeat(2,1fr);
      .item{
         min-height: 50vh;
       }
   }
   
 }
 
 @media only screen and (max-width: 320px) {
   .grid{
      grid-template-columns:repeat(1,1fr);
      .item{
         grid-row:initial;
         grid-column: initial;
         min-height: 40vh;
       }
   }
   
 }